:root{
    --bg-color:#4f7876;
    --main-txt:#0000000d;
    --gray-color:#6c6c6c;
    --white-color:#f4f4f4;
    --bg-color-bg: #94bdbf;
    --matt-black:#28282B;

}

*, ::after,::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type:none;
}

html{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    scroll-snap-type: mandatory;
    background-color: var(--bg-color-bg);
}

body{
    background-color: var(--bg-color);
}

img{
    width: 100%;
   margin-top: 0;
    padding: 0px 0px 10px;
    border: 2px solid red;
  border-radius: 30px 30px 0 0;
}
/* .about-container{
position: relative;
display:grid;


} */

/* #btxt{

 position: absolute;
 top: 40%;
 left: 10%;
 padding: 1rem;
 text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
 border-radius: 5px;
 background-color: rgba(0, 0, 0, 0.5); 
color: var(--white-color);
max-width: min-content;

} */
 
 li {
    color:var(--white-color);
    display: inline-block;
    justify-content:space-around;
    align-items: center;
    padding: 5px 10px;
    text-align: center;
    

}
 
.txt-box ul {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    
    
}

.txt-box #lst{
    text-transform: uppercase;
    font-weight: 400;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
}

a li:hover{
    color: var(--bg-color);
    animation: ease-out 2s ;
}

.hlo{
    color: var(--white-color);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    align-items: flex-start;
    justify-content: center;
    text-align: start;
}
 
.main-container{
display:flex;
}

.hlo #hr4 #kk4{
   display: flex;
   justify-content: center;
   align-content: center;
}